<footer class="site-footer">
  <div class="site-footer-inner">
    <div class="site-footer-copy">
      {{ .Site.Title }} is open source under the BSD-2-Clause license.
    </div>
    <div class="site-footer-links">
      <a href="https://github.com/maolan" target="_blank" rel="noreferrer noopener">GitHub</a>
      <a href="/features/">Features</a>
      <a href="/workflow/">Workflow</a>
      <a href="/shortcuts/">Shortcuts</a>
      <a href="/osc/">OSC</a>
      <a href="/repos/">Repos</a>
      <a href="/plugins/">Plugins</a>
      <a href="/mixosc/">MixOSC</a>
    </div>
  </div>
</footer>
